<html>
    <%- include('head') %>
    <body>
        <%- include('header') %>
        <%= "content" %>
        <footer>
            <p>&copy; 2024 بلاگ من. تمامی حقوق محفوظ است.</p>
        </footer>
    </body>
    <%- include('scripts') %>
</html>