<aside class="sidebar">
    <h3>منو</h3>
    <ul>
        <li><a href="#">پست‌های من</a></li>
        <li><a href="/dashboard/users">کاربران</a></li>
        <% if (user.role=='admin') { %>
            <li><a href="#">تمام پست ها</a></li>
        <% } %>
    </ul>
</aside>